Source/Comparer/.metadata/
Source/Comparer/RemoteSystemsTempFiles/
Source/Comparer/Comparer/HybridIndex/
Source/Comparer/.recommenders
Source/Comparer/.recommenders/caches/identified-project-coordinates.json
Source/Comparer/.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments.gen
Source/Comparer/Servers/.project
Source/Comparer/Servers/.settings/org.eclipse.wst.server.core.prefs
